@font-face {
    font-family: 'Mehr';
    src: url('http://csalt.itu.edu.pk/urdufont/Mehr%20Nastaliq%20Web%20version%201.0%20beta.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;

}
